<div class="container">
  <form class="form">
    <h2 class="m-auto">Sign Up</h2>
    <div class="mb-3">
      <label for="fname" class="form-label">First Name</label>
      <input
        type="text"
        id="fname"
        class="form-control"
        name="fname"
        [(ngModel)]="registerUserData.firstname"
        required
      />
    </div>

    <div class="mb-3">
      <label for="lname" class="form-label">Last Name</label>
      <input
        type="text"
        id="lname"
        class="form-control"
        name="lname"
        [(ngModel)]="registerUserData.lastname"
        required
      />
    </div>

    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input
        type="text"
        id="username"
        class="form-control"
        name="username"
        [(ngModel)]="registerUserData.username"
        required
      />
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        id="email"
        class="form-control"
        name="email"
        [(ngModel)]="registerUserData.email"
        required
      />
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        id="password"
        class="form-control"
        name="password"
        [(ngModel)]="registerUserData.password"
        required
      />
    </div>

    <div class="mb-3">
      <label for="confirmPassword" class="form-label">Confirm Password</label>
      <input
        type="password"
        id="confirmPassword"
        class="form-control"
        name="confirmPassword"
        [(ngModel)]="registerUserData.confirmPassword"
        required
      />
    </div>

    <button
      type="button"
      id="submitButton"
      class="btn btn-primary"
      (click)="registerUser()"
    >
      Sign Up
    </button>
  </form>
</div>
